<%= render partial: "header2" %>

<%# 投稿フォーム %>
<div class="tweets-form">
<%= form_tag('/tweets', method: :post) do %>
  <div class="form-group group-resize">
    <label for="exampleInputPassword1">Title</label>
    <input class="form-control col-6 form-resize" placeholder="Title" name="title">
  </div>
  <div class="form-group group-resize">
    <label for="exampleInputEmail1">Image</label>
    <input class="form-control col-6 form-resize" placeholder="Image Url" name="image">
  </div>
  <div class="form-group group-resize">
    <label for="exampleFormControlTextarea1">Text</label>
    <textarea class="form-control col-6 form-resize" id="exampleFormControlTextarea1" rows="6" name="text"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-resize">Sent</button>
  <% end %>
  </div>