<%= render partial: "header2" %>

<%# 投稿フォーム %>
<div class="tweets-form">
<%= form_tag('/tweets', method: :post) do %>
  <div class="form-group group-resize">
    <label for="exampleInputPassword1">Title</label>
    <input class="form-control col-10 form-resize" placeholder="Title" name="title" value="なるとや">
  </div>
  <div class="form-group group-resize">
    <label for="exampleInputEmail1">Image</label>
    <input class="form-control col-10 form-resize" placeholder="Image Url" name="image" value="https://tblg.k-img.com/restaurant/images/Rvw/12559/320x320_rect_12559935.jpg">
  </div>
  <div class="form-group group-resize">
    <label for="exampleFormControlTextarea1">Text</label>
    <textarea class="form-control col-10 form-resize" id="exampleFormControlTextarea1" rows="6" name="text">「塩ラーメン」のスープは、透き通った美しい色合いです。魚介と塩の味がしっかりとしていながらも優しい味わい。</textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-resize">Sent</button>
  <% end %>
  </div>